# Visit the Kong documentation for further configuration options
# https://docs.konghq.com/gateway/3.10.x/reference/configuration

#KONG_ADMIN_GUI_URL=https://example.com/kong-admin
#KONG_ADMIN_GUI_PATH=/kong-admin
#KONG_ADMIN_GUI_API_URL=https://kong-api.example.com
