# Visit the aldinokemal/go-whatsapp-web-multidevice for further configuration options
# https://github.com/aldinokemal/go-whatsapp-web-multidevice

APP_OS=WAini
APP_PORT=3000
APP_DEBUG=false
APP_ACCOUNT_VALIDATION=false
#APP_AUTOREPLY=Do not reply to this message.
#APP_BASIC_AUTH=service:Super.Secret
